<script>
var rewrite_url = function() {
	window.location = '/' + encodeURIComponent(document.getElementById('url').value)
}
</script>

<br>
<input id="url" size="150" placeholder="Paste a URL to an image."></input><br>

<a href="#" id="button" onclick="rewrite_url()">Get IPTC for image</a><br>
<br>
<br>
<a href="https://github.com/ivarvong/get_iptc">the code</a> &bull;
<a href="http://twitter.com/ivarvong">@ivarvong</a>